<div class="container-fluid">
  <div class="footer">
  <div class="container py-5">
  <div class="row py-4">
   <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 mr-3">
      <h2>
        <mat-icon class="logo-icon">book</mat-icon> E-Learning
      </h2>
      <p>At SiryCar, we strive to provide you with a
        simple and efficient car rental experience. From reservation
          to pickup, we are here to meet your needs.</p>
      <ul class="list-inline mt-4">
        <li class="list-inline-item">
            <span>
              <i class="bi bi-facebook"></i>
            </span>
        </li>
        <li class="list-inline-item">
            <span>
              <i class="bi bi-instagram"></i>
            </span>
        </li>
        <li class="list-inline-item">
            <span>
              <i class="bi bi-twitter"></i>
            </span>
        </li>
        <li class="list-inline-item">
            <span>
              <i class="bi bi-whatsapp"></i>
            </span>
        </li>
      </ul>
    </div>
  <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mr-3">
        <h6 class="MontserratB mb-4 ">USEFUL LINKS</h6>
          <ul class="list-unstyled mb-0 MontserratM">
            <li>Accueil</li>
              <li>Cours</li>
               <li>Fiches</li>
              <li>Contact</li>
        </ul>
    </div>
  <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mr-3">
      <h6 class="MontserratB mb-4 ">SERVICES</h6>
      <ul class="list-unstyled mb-0 MontserratM">
        <li>Accueil</li>
        <li>Cours</li>
        <li>Fiches</li>
        <li>Contact</li>
      </ul>
    </div>
  <div class="col-lg-4 col-md-6 mb-lg-0">
      <h6 class="MontserratB mb-4 ">SUBSCRIBE</h6>
      <p class=" mb-4 Montserrat">Get our weekly newsletter for latest car news exclusive offers and deals and more.</p>
      <div class="p-1 rounded border">
        <div class="input-group Montserrat">
          <input type="email" placeholder="Entrer votre email" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
          <button id="button-addon1" type="submit" class="btn btn-link">
            <i class='far fa-paper-plane'></i>
          </button>
        </div>
        </div>
    </div>
    </div>
  </div>
  </div>
</div>
